{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Filter
  </button>
<div class="collapse" id ='collapseExample'>
    <div class="card card-body">
    <form action="" method="get">
        {{filter.form | crispy}}
        <button type="submit" >Filter </button>
    </form>
</div>

</div>



    <table class="table">
        <thead>
    <tr>
        <th>Name</th>
        <th>Company</th>
        <th>Work function</th>
        <th>Phone</th>
        <th>E-Mail</th>
<!--        <th>address</th>-->
        <th>Notes</th>
        <th>Lead Source</th>
        <th>Lead Status</th>
        <th>Category</th>
    </tr>
    </thead>
        <tbody>
    {% for customer in filter.qs %}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.company}}</td>
        <td>{{customer.work_function}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.email}}</td>
<!--        <td>{{customer.address}}</td>-->
        <td>{{customer.notes}}</td>
        <td>{{customer.lead_source}}</td>
        <td>{{customer.lead_status}}</td>
        <td>{{customer.customer_category}}</td>
        <td><a href="{% url 'customer-update' customer.id %}">Edit</a></td>
        <td><a href="{% url 'customer-delete' customer.id %}">Delete</a></td>


    </tr>

    </tbody>
        {% empty %}
            <h3> no item available</h3>
            {% endfor %}
    </table>
{% endblock content %}